// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  min-width:940px;
}

.container {
  min-width: 100%;
  background-color: white;
}

.main-bar {
  background-color:#00292F;
  width: 100%;
}

// Top Bar Stylings
#top-background {
  top: 0px;
  border-top: 3px solid #F22547;
  border-bottom:5px inset #AE491A;
  height: 188px;
}

#top-bar {
  width:870px;
  margin: 0 auto;
  text-align: center;
  height:180px;
  line-height:180px;
}

#company-logo {
  width:180px;
  margin-top: 32px;
}

#dynamic-description {
  font-size:35px;
  font-weight:400;
}

#company-description {
  min-width: 570px;
  float:none;
  color:white;
  text-align:left;
  font-weight:100;
  font-size:45px;
  line-height:50px;
  margin-top:40px;
}

.description-bold {
  font-weight:400;
}

#description-underline {
  background-color:white;
  width:450px;
  height:1px;
  margin-top:-8px;
  margin-left:120px;
}

// Content area stylings

#content-area {
  margin: 0 auto;
  width: 870px;
  height:500px;
  text-align:center;
}

#activity-search {
  margin-left:70px;
  float:left;
  margin-top:100px;
}

#activity-i-am {
  float:left;
  margin-left:10px;
  color:#242424;
  font-size:40px;
  margin-top:20px;
}

#activity-search-input {
  float:left;
  margin-left:20px;
  height:50px;
  width:400px;
  background-color:#AC4A00;
  color:white;
  font-weight:200;
  font-size:30px;
  &:hover {
    border:1px solid black;
  }
}

.buttons-content {
  position:relative;
  margin-top:55px;
  display:none;
}

#results-container {
  position:relative;
  margin-top:55px;
  display:none;
}

.results-item-container {
  width:180px;
  height:auto;
  float:left;
  margin-left:65px;
  background:black;
  border:2px solid #62656F;
}

#results-shoes {
  &:hover {
    cursor:pointer;
    border:2px solid white;
    #results-hover-shoes { display:block; }
  }
}

#results-sweater {
  &:hover {
    cursor:pointer;
    border:2px solid white;
    #results-hover-sweater { display:block; }
  }
}

#results-pants {
  &:hover {
    cursor:pointer;
    border:2px solid white;
    #results-hover-pants { display:block; }
  }
}

#results-hover-shoes {
  display:none;
  position:absolute;
  top:-35px;
  left:33px;
  background:#62656F;
  opacity:0.8;
  width:250px;
  height:280px;
}

#results-hover-sweater {
  display:none;
  position:absolute;
  top:-35px;
  left:280px;
  background:#62656F;
  opacity:0.8;
  width:250px;
  height:280px;
}

#results-hover-pants {
  display:none;
  position:absolute;
  top:-35px;
  left:530px;
  background:#62656F;
  opacity:0.8;
  width:250px;
  height:280px;
}

.result-name {
  color:white;
  font-size:20px;
  position:relative;
  top:15px;
}

.result-hover-item {
  width:150px;
  position:relative;
  top:35px;
}

.result-store-name {
  position:relative;
  top:70px;
  width:150px;
  color:white;
  font-size:20px;
}

.style-type-container {
  background-color:#F8EFB6;
  width:150px;
  height:130px;
  float:left;
  margin-left:58px;
  border-radius:5px;
}

.style-border {
  background:transparent;
  border:2px solid #485D52;
  width:142px;
  height:122px;
  margin:2px 0px 0px 2px;
  border-radius:5px;
  .style-separator {
    width:65%;
    margin-top:5px;
    transition: opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
    opacity:0;

  }

  &:hover {
    cursor: pointer;
    .style-separator {
      opacity:1;
    }
  }
}

.style-title {
  color:#323233;
  font-size:35px;
  font-weight:500;
  font-family:Impact;
  margin-top:25px;
}

.style-description {
  color:black;
  text-align:center;
  top:50%;
  height:50%;
  width:80%;
  font-size:10px;
  line-height:10px;
  margin-left:15px;
  margin-top:5px;
}

// Bottom Bar Sylings

#bottom-bar {
  height:200px;
  line-height:200px;
  width: 970px;
  margin: 0 auto;
  text-align:center;
}

#hoodie-dude {
  height:220px;
  width:auto;
  margin-top:-20px;
  float:left;
  margin-left:60px;
}

#enter-scoutfit {
  height:50px;
  width:auto;
  line-height:200px;
  margin-left:0px;
  position:relative;
  top:50%;
  margin-top:-30px;
}

#suit-dude {
  height:220px;
  width:auto;
  margin-top:-20px;
  float:right;
  margin-right:60px;
}

.arrow-line {
  background-color:white;
  height:1px;
  width:190px;
  float:left;
  line-height:200px;
  position:relative;
  top:50%;
  margin-right:10px;
  margin-left:10px;
}

#right-line {
  width:210px;
}

#chevron-right {
  margin-left:-19px;
}
